section#add-spot-form {
    padding: 1em;
    
    form {
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 10px;
    
        label {
            margin-top: 10px;
        }
    
        div {
            display: flex;
            justify-content: space-between;
            gap: 0.5em;
            input {
                width: 100%;
            }   
        }
    
        textarea {
            resize:vertical;
            max-height: 300px;
        }
    }
}
