:root {
    /* MAIN COLORS */
    --black: #0D0D0D;
    --white: #FCFCFC;
    --orange: #DD7D00;

    --black-bg: var(--black);
    --black-bg-2: #1A1A1A;
    --black-bg-3: #1f1f1f;


    /* FONTS */
    --fontHeader: 'UrbanRiot';
    --fontDefault: 'Rubik';

    /* BORDER RADIUS */
    --BRBubble: 30px;

    /* SHADOWS */
    --shadowSmall: rgba(0, 0, 0, 0.472) 0px 2px 8px 0px;
}