.bestSpotSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 1em;
    background-color: var(--black-bg-3);
    margin: 3em 0;
    padding: 1.2em 0;
    overflow-x: hidden;

    h3 {
        margin-bottom: 1em;
    }
}

.bestSpotSection div.spots {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    min-height: max-content;
    gap: 1.2em;
    overflow-y: hidden;
    scrollbar-width: none;
}

.bestSpotSection-shadow {
    z-index: 99;

    position: absolute;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(9,9,121,0) 100%);
    height: 329px; // How tf I do this correctly
    width: 100px;
}

.bestSpotSection-shadow-right{
    right: 0;
    left: auto;
    background: linear-gradient(-90deg, rgba(0,0,0,0.5) 0%, rgba(9,9,121,0) 100%);
}