.spotBubble {
    background-color: var(--black);
    border-radius: var(--BRBubble);
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--shadowSmall);

    &:hover {
        filter: brightness(85%);
        transition: 0.2s;
    }

    img {
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-top-left-radius: var(--BRBubble);
        border-top-right-radius: var(--BRBubble);
    }
    
    div {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div h3 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2;
        -webkit-box-orient: vertical;
    }


}