.spotBubble {
    background-color: var(--black);
    border-radius: var(--BRBubble);
    min-width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--shadowSmall);

    &:hover {
        filter: brightness(85%);
        transition: 0.2s;
    }

    img {
        height: 70%;
        width: 100%;
        border-top-left-radius: var(--BRBubble);
        border-top-right-radius: var(--BRBubble);
    }
    
    div {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div h3 {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }


}