section#section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em;
    position: relative;
    padding: 0 0.5em;

    @media (width < 500px) {
        justify-content: start;
        padding-top: 80px;

        button {
            display: none;
        }
    }

    h1 {
        margin-bottom: 30px;
        text-align: center;
    }

    .section2-button {
        position: absolute;
        bottom: 100px;
    }

    #about-proyect {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        color: rgba(255, 255, 255, 0.267);
        svg {
            width: 40px;
        }

        @media (max-device-height < 560px) {
            display: none;
        }
    }
}