.EventBubble {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: var(--black-bg-3);
    box-shadow: var(--shadowSmall);
    position: relative;
    transition: 0.2s;
    border-radius: 20px;

    &:hover {
        transition: 0.2s;
        filter: brightness(0.85);
        cursor: pointer;
    }

    .date {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        background-color: var(--orange);
        padding: 20px 15px;
        font-weight: bolder;
        border-bottom-right-radius: 20px;
    }

    figcaption {
        text-align: center;
        padding: 20px 20px;
        font-size: 1.1em;
    }
}