@font-face {
    font-family: 'UrbanRiot';
    src: url('../../fonts/UrbanRiot.ttf');
}

Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;

    @media (width < 550px) {
        padding: 10px;
        h1 {
            font-size: 25px;
        }
    }

    #navDesktop { display: none; }

    @media (width > 700px) { // Desktop nav
        #burgerButton {
            display: none;
        }

        #navDesktop {
                display: flex;
                gap: 0.5em;
                position: absolute;
                right: 16px;
                
                ul {
                    gap: 0.5em;
                    display: flex;
                    flex-direction: row;
                    li {
                        list-style-type: none;
                        border: 2px solid rgb(77, 77, 77);
                        border-radius: 5px;
                        padding: 3px;
        
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.068);
                            cursor: pointer;
                        }
        
                        svg {
                            width: 25px;
                            color: rgb(211, 211, 211);
                        }
                    }
                }
    
                .UserBubble {
                    gap: 5px;
                    padding: 0;
                        img {
                            border: 2px solid rgb(77, 77, 77);
                            width: 35px;
                            cursor: pointer;
                        }

                        span {
                            display: none;
                        }

                        svg {
                            display: none;
                        }
                }
        }
    }

    hr {
        margin: 1em 0;
    }

    a {
        text-decoration: none;
    }

    h1 {
        color: var(--white);
        font-family: 'UrbanRiot';
        letter-spacing: 2px;
    }

    #burgerButton {
        position: absolute;
        right: 16px;
    }

    background-color: var(--black);
}

#header-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 69px; // This will work????
    background-color: var(--black-bg);
    list-style: none;
    z-index: 500; // Bcs leaflet map using 400 indexes...
    padding: 1em 0 2em 0;
    border-bottom-left-radius: 15px;

    @media (width < 550px) {
        top: 49px;
    }

    @media (width > 700px) {
        display: none;
    }

    a {
        color: var(--white);
        padding: 1em 1.5em;
        transition: 0.2s;

        li {
            display: flex;
            gap: 15px;
            align-items: center;

            svg {
                width: 25px;
            }
        }

        &:hover {
            transition: 0.2s;
            padding-left: 2em;
            cursor: pointer;
            color: var(--orange);
            background: rgba(255, 255, 255, 0.021);
        }
    }
    
}
    li.UserBubble {
        display: flex;
        align-items: center;
        gap: 25px;
        padding: 0 1em;
        img {
            border-radius: 100%;
            max-width: 45px;
        }
        svg {
            width: 30px;

            &:hover {
                transition: 0.2s;
                cursor: pointer;
                color: var(--orange);
            }
        }
    }