@font-face {
    font-family: 'UrbanRiot';
    src: url('../../fonts/UrbanRiot.ttf');
}

Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;

    @media (width < 550px) {
        padding: 10px;
        h1 {
            font-size: 25px;
        }
    }

    hr {
        margin: 1em 0;
    }

    a {
        text-decoration: none;
    }

    h1 {
        color: var(--white);
        font-family: 'UrbanRiot';
        letter-spacing: 2px;
    }

    div {
        position: absolute;
        right: 16px;
    }

    background-color: var(--black);
}

#header-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 69px; // This will work????
    background-color: var(--black-bg);
    list-style: none;
    z-index: 500; // Bcs leaflet map using 400 indexes...
    padding: 1em 0 2em 0;
    border-bottom-left-radius: 15px;

    @media (width < 550px) {
        top: 49px;
    }

    a {
        color: var(--white);
        padding: 1em 1.5em;
        transition: 0.2s;

        li {
            display: flex;
            gap: 15px;
            align-items: center;

            svg {
                width: 25px;
            }
        }

        &:hover {
            transition: 0.2s;
            padding-left: 2em;
            cursor: pointer;
            color: var(--orange);
            background: rgba(255, 255, 255, 0.021);
        }
    }

    li#user {
        display: flex;
        align-items: center;
        gap: 25px;
        padding: 0 1em;
        img {
            border-radius: 100%;
            max-width: 45px;
        }
        svg {
            width: 30px;

            &:hover {
                transition: 0.2s;
                cursor: pointer;
                color: var(--orange);
            }
        }
    }
}